@font-face
  font-weight: 300
  font-style: lighter
  font-family: 'Roboto'
  src: local('Roboto Light'), url('../fonts/Roboto-Light.ttf') format('truetype')
  font-display: swap

@font-face
  font-weight: 500
  font-style: normal
  font-family: 'Roboto'
  src: local('Roboto'), url('../fonts/Roboto-Regular.ttf') format('truetype')
  font-display: swap

@font-face
  font-weight: 700
  font-style: bold
  font-family: 'Roboto'
  src: local('Roboto Bold'), url('../fonts/Roboto-Bold.ttf') format('truetype')
  font-display: swap

.resume
  margin: 60px auto
  max-width: 100ch
  border: 1px solid $dark
  background-color: $white
  color: $dark
  letter-spacing: 0.5px
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
  line-height: 1.5em

.resume-header
  display: flex
  flex-wrap: wrap
  padding: 20px 40px
  border-bottom: 1px solid $slategray
  +mobile()
    padding: 20px

.resume-name
  margin-top: 0.5em
  margin-bottom: 0.5em
  width: 100%

.resume-header-info
  display: flex
  align-items: center
  margin: 5px 0
  width: 50%
  color: $dark
  text-decoration: none
  +mobile()
    width: 100%
  .icon
    margin-right: 10px
    color: $dark

.resume-experience-content
  margin: 0

.resume-section
  margin: 20px 40px
  +mobile()
    margin: 20px

.resume-title
  margin-top: 0.5em
  margin-bottom: 0
  padding-bottom: 0.5em
  border-bottom: 1px solid $slategray
  font-size: 20px

.resume-sub-experience
  border-inline-start: 5px solid $gray
  margin-inline-start: 20px

.resume-section-content
  padding: 5px 5px 5px 10px
  text-align: justify
  font-size: 14px
  ul
    margin: 0
    padding-left: 15px
  h5
    margin: 0
    font-weight: light
  p
    margin: 0

.resume-experience
  padding: 5px 0
  page-break-inside: avoid
  &:not(:last-child)
    border-bottom: 1px solid $gray

.resume-experience-title
  display: block
  margin-top: 0
  margin-bottom: 0.5em
  color: $dark
  text-decoration: none
  font-weight: bold
  h4
    display: inline-block
    margin: 0
  small
    font-weight: normal

.resume-experience-date,
.resume-experience-subtitle
  display: block
  color: lighten($dark, 20%)
  font-size: 12px

.resume-experience-subtitle
  float: right
  +mobile()
    float: none

.resume-education-data
  font-weight: bold

.resume-project
  padding-bottom: 5px
  &:not(:last-child)
    margin-bottom: 5px
    border-bottom: 1px solid $gray

.resume-project-type
  color: lighten($dark, 20%)
  font-weight: normal
  font-size: 12px

.resume-project-description
  &:first-letter
    margin-inline-start: 40px

.resume-project-title
  display: block
  margin-top: 0
  margin-bottom: 0.25em
  color: $dark
  text-decoration: none
  font-weight: bold
  font-size: 16px
  h4
    display: inline-block
    margin: 0

@media print
  .main
    margin: 0
    box-shadow: none
  .resume
    margin: 0
    max-width: 100vw
    width: 100vw
    border: none
    box-shadow: none