.💬 {
  transition-all(0.5s, ease-in);
  display: block;

  foreignObject {
    width: 200px;
    height: 200px;
  }

  .➰ {
    transition-all(0.3s);
    filter: url('#dropShadow');
    transform-origin: 200px 200px;
    fill: $white;
    stroke: alpha(lighten($dark, 90%), 0.1);
  }

  .📄 {
    overflow: auto;
    padding-top: 75px;
    width: 200px;
    height: 200px;
    outline: 0;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    color: $dark;
    text-align: center;
    font-size: 30px;
    resize: none;
  }

  &.💫 {
    .➰ {
      transform: rotate(90deg);
    }
  }

  &.❌ {
    display: none;
  }
}
