.fx
  perspective: 3000px

.fx-letter
  display: inline-block
  transform-origin: top right
  transform: rotateZ(-25deg) rotateX(-51deg) translateX(-50%)
  opacity: 0.3
  transform-style: preserve-3d
  transition: all 1.2s cubic-bezier(0.245, 0.495, 0, 0.99)
  .fx.is-active &
    transform: rotateZ(0) rotateX(0) translateX(0)
    opacity: 1

.fx-word
  display: flex
  for word in (1...5)
    &:nth-child({word})
      for letter in (1...10)
        .fx-letter:nth-child({letter})
          transition-delay: (word + letter) * 0.05s