


.contact-button,
.resume-button
  padding: 0.2em 0.05em
  background-image: linear-gradient(0, $secondary, $secondary)
  background-position: bottom center
  background-size: 100% 0.12em
  background-repeat: no-repeat
  text-decoration: none
  font-size: $font-massive
  line-height: 1.5em

.resume-button
  font-size: $font-small

.sr-only
  position: absolute
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  margin: -1px
  padding: 0
  width: 1px
  height: 1px
  border: 0
