columns($n = 0) {
  return round($n * 100%, 2);
}

mobile() {
  @media screen and (max-width: 768px) {
    {block};
  }
}

tablet() {
  @media screen and (max-width: 991px) {
    {block};
  }
}

darkMode() {
  .dark & {
    {block};
  }
}