html {
  background-color: $theme-bg-color;
  color: $theme-text-color;
}

html.light {
  --theme-bg-color: $light;
  --theme-text-color: $dark;
}

html.dark {
  --theme-bg-color: $dark;
  --theme-text-color: $white;
}
