
body, .theme-light {
  background-color: $slategray;
  color: $dark;
}

@media (prefers-color-scheme: dark) {
  body:not(.theme-light) {
    background-color: $black;
    color: $white;
  }
}

body.theme-dark {
  background-color: $black;
  color: $white;
}
