
$red = #EA4F52;
$green = #00FF98;
$blue = #00AEEF;
$yellow = #FFE344;
$accent = hsl(148, 55%, 41%);
$secondary = hsl(225, 55%, 41%);
$black = hsl(214 45% 0% / 1);
$dark = hsl(214 45% 25% / 1);
$light = hsl(214 45% 95% / 1);
$gray = #F4F7FB;
$white = #FFFFFF;
$theme-bg-color = var(--theme-color);

// css variables
:root {
  --theme-bg-color: $light;
  --theme-text-color: $dark;
}

$theme-bg-color = var(--theme-bg-color);
$theme-text-color = var(--theme-text-color);