:root {

}
// theme
$red = #EA4F52
$green = #00FF98
$blue = #00AEEF
$yellow = #FFE344
$primary = hsl(148, 55%, 41%)
$secondary = hsl(225, 55%, 41%)
// grayscale
$black = #072540
$dark = #183d5d
$slategray = #DAE4F1
$gray = #F4F7FB
$light = #F1f3f6
$white = #FFFFFF
// figure
$skin = #dba897
$shirt = #e2e2e2
$jeans = #4e6590
$jacket = #30363f
$eye = #2d1c1c
$hair = #251b1b
$button = #60562B

