:root {
}

$red = #EA4F52;
$green = #00FF98;
$blue = #00AEEF;
$yellow = #FFE344;
$primary = hsl(148, 55%, 41%);
$secondary = hsl(225, 55%, 41%);
$black = #072540;
$dark = hsl(214 45% 15% / 1);
$light = hsl(214 45% 95% / 1);
$gray = #F4F7FB;
$white = #FFFFFF;
