$font-header = 100px;
$font-header-small = 50px;
$font-massive = 40px;
$font-large = 30px;
$font-medium = 18px;
$font-small = 16px;
$font-size = generateFontSizes();
$padding = generateFontSizes();
$margin = generateFontSizes();