
$font-size = generateFontSizes();
$padding = generateSpacingSizes();
$margin = generateSpacingSizes();
$transition = all 200ms cubic-bezier(0.4, 0, 0.2, 1);

__generateSpacingSizes() {
  remSizes = ();
  spacings = 0 2 4 6 8 10 12 14 16 18 20 24 28 32 36 40 44 48 52 56 60;

  for size in spacings {
    px = unit(size, 'px');
    rem = toRem(px);
    push(remSizes, size);
  }

  return remSizes;
}

__generateTextSizes() {
  remSizes = ();
  spacings = 0 12 14 16 18 20 24 30 36 48 60 72 96 128;

  for size in spacings {
    px = unit(size, 'px');
    rem = toRem(px);
    push(remSizes, size);
  }

  return remSizes;
}

:root {
  for size, index in __generateSpacingSizes() {
    --padding-{index}: size;
    --margin-{index}: size;
  }
}

$p = ();
$m = ();
$text = __generateSpacingSizes();

for size, i in __generateSpacingSizes() {
  $p[i] = 'var(--padding-%s)' % i;
  $m[i] = 'var(--margin-%s)' % i;
}
