@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap';

:root {
  --glass-blur: 12px;
  --transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  --accent-color: hsl(148 55% 41%);
  --black-color: hsl(214 45% 1%);
  --dark-color: hsl(214 45% 7%);
  --dark-color-alpha-20: hsl(214 45% 7% / 0.2);
  --dark-color-lighten-30: hsl(214 45% 30%);

  --light-color: hsl(214 45% 95%);
  --gray-color: hsl(0 0% 80%);
  --dark-gray-color: hsl(0 0% 50%);

  --white-color: hsl(0, 0%, 100%);
  --white-color-alpha-20: hsl(0 0% 100% / 0.2);
  --white-color-darken-30: hsl(0, 0%, 70%);
}

html,
html.light {
  --theme-bg-color: hsl(0 0% 100%);
  --theme-text-color: hsl(0 0% 0%);
  --text-color: hsl(0 0% 0%);
  --navbar-bg-color: hsl(0 0% 100%);
  --text-color-light: hsl(0 0% 60%);
  --code-bg: hsl(0 0% 90%);
  --blockquote-bg: hsl(0 0% 95%);
  --border-color: hsl(0 0% 80%);
  --glass-bg: hsl(0 0% 100% / 0.2);
  --glass-shadow: hsl(0 0 0 / 0.1);
}

html.dark {
  --theme-bg-color: hsl(0 0% 0%);
  --theme-text-color: hsl(0 0% 100%);
  --text-color: hsl(0 0% 100%);
  --navbar-bg-color: hsl(0 0% 0%);
  --text-color-light: hsl(0 0% 60%);
  --code-bg: hsl(0 0% 10%);
  --blockquote-bg: hsl(0 0% 10%);
  --border-color: hsl(0 0% 20%);
  --glass-bg: hsl(0 0% 0% / 0.2);
  --glass-shadow: hsl(0 0% 0% / 0.1);
}
* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  line-height: 1.5em;
  font-size: 1rem;
  color: var(--theme-text-color);
  scroll-behavior: smooth;
}

html {
  background-color: var(--theme-bg-color);
}

a {
  color: var(--theme-text-color);
  font-weight: bold;
  transition: var(--transition);
  color: inherit;
  text-underline-position: under;
  text-decoration-thickness: 0.1em;

  &:hover {
    text-decoration-color: var(--accent);
  }

  &:focus-visible {
    outline: 2px dashed;
  }
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

.serif-font {
  font-family: 'Source Serif Pro', Georgia, Cambria, 'Times New Roman', Times,
    serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
