.section
  display: flex
  flex-wrap: wrap
  margin: 100px auto
  max-width: 1200px
  width: 80vw
  +dark()
    color: $white
  &.is-center
    align-items: center

.section-info
  width: columns((1 / 3))
  +tablet()
    width: 100%

.section-sticky
  position: sticky
  top: 30px
  margin-bottom: 70px
  +tablet()
    position: static

.section-elements
  padding-left: columns((1 / 12))
  width: columns((2 / 3))
  +tablet()
    padding: 0
    width: 100%

.section-title
  margin: 0 0 0.5em
  max-width: 200px
  color: $secondary
  font-weight: bold
  font-size: $font-header
  &::after
    display: block
    width: 0
    height: 8px
    background-color: $primary
    content: ''
    transition: all 1.2s cubic-bezier(0.245, 0.495, 0, 0.99)
  +tablet()
    font-size: $font-header-small
  +dark()
    color: $white
  &.is-active::after
    width: 100px

.section-description
  width: columns((2 / 3))
  +tablet()
    width: 100%
