
.title
  color: $primary
  font-size: $font-massive
  +tablet()
    font-size: $font-large
  +dark()
    color: $white

.subtitle
  font-weight: normal
  font-size: $font-medium
  +dark()
    color: $white