.title
  color: $primary
  font-size: $font-size[5]
  +tablet()
    font-size: $font-large
  +dark()
    color: $white

.subtitle
  font-weight: normal
  +dark()
    color: $white

.text
  font-size: $font-size[4]
  font-weight: normal
  +dark()
    color: $white

for size, i in $font-size
  .font-{i}
    font-size: size