.card {
  margin-bottom: 70px;

  a {
    &:focus {
      color: $secondary;

      +dark() {
        color: $white;
      }
    }
  }
}

.card-title {
  margin: 0 0 0.5em;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: $font-massive;
}

.card-subtitle {
  margin: 0 0 0.5em;
  color: $secondary;
  font-weight: normal;
  font-size: $font-large;

  +dark() {
    color: $white;
  }
}

.card-info {
  margin: 0 0 0.5em;
  color: $secondary;
  font-weight: normal;
  font-size: $font-medium;

  +dark() {
    color: $white;
  }
}

.card-button {
  @extend .link;
  padding: 0.2em 0.1em;
  background-image: none !important;
  font-size: $font-small;

  &::after {
    padding: 0.5em;
    content: '-->';
    font-size: $font-tiny;
    line-height: 1.2em;
    transition: 130ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    &::after {
      margin-left: 0.5em;
    }
  }
}
