.🖥 {
  fill: $primary;
}

.👔 {
  fill: $jacket;

  &.⬛️ {
    fill: darken($jacket, 20%);
  }
}

.👐 {
  fill: $skin;

  &.⬛️ {
    fill: darken($skin, 15%);
  }
}

.👕 {
  fill: $shirt;

  &.⚫️ {
    fill: $button;
  }
}

.💇 {
  fill: $hair;
}

.👀 {
  fill: $eye;
}

.⬜️ {
  fill: $white;
}

.💻 {
  fill: $slategray;
}
