
.intro-figure
  margin-left: 10%
  width: 40%
  +tablet()
    order: 1
    margin: auto
    margin-bottom: 50px
    width: 90%

.intro-info
  width: 50%
  +tablet()
    order: 2
    width: 100%
